<div class=userPanel>
	<div class=userPanelCaption>
		Ricerca avanzata
	</div>
	<div class=userPanelContent>
		<div class=userPanelSection style=text-align:center>
			<img src=images/proott.png>
			<input type=text id=asQ value="<%= proottOpts.query ? proottOpts.query : "" %>">
			<br><br>
			<input type=button id=asStart value=Cerca style=width:60px>
			<input type=button id=asStart2 value="Mi sento avvelenato" style=width:150px>
			<br><br>
			<input type=checkbox id=asShowImages style=width:inherit
			<%=proottOpts.smegma ? "checked" : ""%>>Includi peni e smegma
			<br><br>
			<a href="pages/proott_help.html">eiuto!!</a>
		</div>
	</div>
</div>
