<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FdTDueZero</display-name>
  <servlet>
    <servlet-name>Messages</servlet-name>
    <servlet-class>com.forumdeitroll.servlets.Messages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Messages</servlet-name>
    <url-pattern>/Messages</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Threads</servlet-name>
    <servlet-class>com.forumdeitroll.servlets.Threads</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Threads</servlet-name>
    <url-pattern>/Threads</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModInfo</servlet-name>
    <servlet-class>com.forumdeitroll.servlets.ModInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModInfo</servlet-name>
    <url-pattern>/ModInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>com.forumdeitroll.servlets.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Pvt</servlet-name>
    <servlet-class>com.forumdeitroll.servlets.Pvt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pvt</servlet-name>
    <url-pattern>/Pvt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Misc</servlet-name>
    <servlet-class>com.forumdeitroll.servlets.Misc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Misc</servlet-name>
    <url-pattern>/Misc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSon</servlet-name>
    <servlet-class>com.forumdeitroll.servlets.JSonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSon</servlet-name>
    <url-pattern>/JSon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Polls</servlet-name>
    <servlet-class>com.forumdeitroll.servlets.Polls</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Polls</servlet-name>
    <url-pattern>/Polls</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserProfilerServlet</servlet-name>
    <servlet-class>com.forumdeitroll.servlets.UserProfiler</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfilerServlet</servlet-name>
    <url-pattern>/UserProfiler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Bookmarks</servlet-name>
    <servlet-class>com.forumdeitroll.servlets.Bookmarks</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bookmarks</servlet-name>
    <url-pattern>/Bookmarks</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Minichat</servlet-name>
  	<servlet-class>com.forumdeitroll.servlets.Minichat</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Minichat</servlet-name>
  	<url-pattern>/Minichat</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Admin</servlet-name>
  	<servlet-class>com.forumdeitroll.servlets.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Admin</servlet-name>
  	<url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Authors</servlet-name>
  	<servlet-class>com.forumdeitroll.servlets.Authors</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Authors</servlet-name>
  	<url-pattern>/Authors</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tlds/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/tlds/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fn</taglib-uri>
      <taglib-location>/WEB-INF/tlds/fn.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://ravanator.acmetoy.com/jsp/jstl/fdt</taglib-uri>
      <taglib-location>/WEB-INF/tlds/fdt.tld</taglib-location>
    </taglib>
  </jsp-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <description>Main filter</description>
    <filter-name>MainFilter</filter-name>
    <filter-class>com.forumdeitroll.filters.MainFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MainFilter</filter-name>
    <url-pattern>/Messages/*</url-pattern>
    <url-pattern>/Threads/*</url-pattern>
    <url-pattern>/User/*</url-pattern>
    <url-pattern>/Pvt/*</url-pattern>
    <url-pattern>/Polls/*</url-pattern>
    <url-pattern>/ModInfo/*</url-pattern>
    <url-pattern>/UserProfiler</url-pattern>
    <url-pattern>/Bookmarks</url-pattern>
    <url-pattern>/ReadersDigest</url-pattern>
    <url-pattern>/Minichat</url-pattern>
    <url-pattern>/Admin/*</url-pattern>
    <url-pattern>/Authors</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Irc</display-name>
    <servlet-name>Irc</servlet-name>
    <servlet-class>com.forumdeitroll.servlets.Irc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Irc</servlet-name>
    <url-pattern>/Irc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadersDigest</display-name>
    <servlet-name>ReadersDigest</servlet-name>
    <servlet-class>com.forumdeitroll.servlets.ReadersDigest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadersDigest</servlet-name>
    <url-pattern>/ReadersDigest</url-pattern>
  </servlet-mapping>
  <session-config>
  	<!-- una settimana -->
  	<session-timeout>10080</session-timeout>
  </session-config>
</web-app>