body {
	background-color: #222;
}

#bodyContent {
	background-color: #222;
}

#bodyContent a {
	color: #9999ff;
}

div.msgOdd,div.msgEven {
	background-color: #222;
	color: #eee;
}

div.msgInfo {
	background-color: #222;
	box-shadow: none;
}

span.quoteLvl1 {
	color: #ccf;
}

span.quoteLvl2 {
	color: #77f;
}

span.quoteLvl3 {
	color: #99f;
}

span.quoteLvl4 {
	color: #55f;
}

.msgReply {
	background-color: #222;
}

.msgReply label {
	color: white;
	box-shadow: none;
}

.emotibox {
	background-color: #222;
	border: 0;
}

.msgReply textarea,#subject {
	color: #eee;
	background-color: #222;
}

#nav {
	background-color: #222;
	color: white;
}

#nav li a, #nav li a:visited, #nav li a.selected {
	color: #9999ff;
}

div.msgInfo {
	width: 150px;
}

div.msgInfo>* {
	float: none;
}
