 /* RESET.CSS serve a rimuovere tutte le personalizzazioni CSS dei vari browser di modo che le pagine 
    del sito appaiano allo stesso modo su tutti i client. Ogni browser, infatti, ha i suoi margini,
    padding, ecc. per ogni elemento HTML che spesso sono diverso fra loro. Con reset.css tutto
    questo viene azzerato. */
@import url("reset.css");

html {
	background-color: #41636B;
}

body {
	font-family: 'Helvetica';
	font-size: 15px;
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #41636B;
}

#body {
	width: 80%;
	margin: auto;
	border: 1px solid;
	box-shadow: 5px 5px 25px black;
	margin-top: 1em;
	background-color: white;
}

#headerimg {
	float: right;
}

#header {
	 padding: 10px;
	 background-image:url(../images/banner.png);
}

#titoloForum {
	text-decoration: none;
	color: white;
}

h1 {
	margin: 0.1em 0.2em;
	font-variant: small-caps;
	text-shadow: 3px 3px 5px black;
	font-weight: normal;
	font-family: 'Frijole', cursive;
	font-size: 240%;
}

#nav {
	border-top: 4px solid #93998E; 
	padding: 5px 10px;
}

#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li {
	display: inline;
	margin: 0;
	padding: 0;
}

#main {
	float: left;
	width: 500px;
	padding: 10px;
	padding: 0px;
	margin-left: 5px;
}

h2 {
	margin: 0 0 1em;
}

#sidebarSmall {
	float: left;
	width: 10px;
	height: 100%;
	display: none;
	background: #D6D6D6;
	padding: 5px;
}

#sidebar { 
	background: none repeat scroll 0 0 #D6D6D6; 
	float: left; 
	padding: 10px; 
	width: 200px;
}

#sidebar ul {
	list-style-image: url(../images/forum.gif);
	list-style-position : inside;
}

#sidebar ul li {
	list-style: inherit;
}

#sidebar ul li a {
	text-decoration: none;
}

#sidebar ul li a:hover {
	text-shadow: 0px 0px 6px darkBlue;
	color: MediumBlue;
}

span.openCloseSidebar {
	float: right; 
	background: #EEEEEE;
	padding: 2px;
	border: 1px outset black;
}

#footer {
	clear: both;
	padding: 5px 10px;
	background: #B9C1B1;
}

#footer p {
	margin: 0;
}

* html #footer {
	height: 1px;
}

div.msgEven {
	padding: 5px; 
	background-color: #FFFFFF;
}

div.msgOdd {
	padding: 5px; 
	background-color: #F6F6F6;
}

div.msgInfo {
	width: 150px;
	margin: 5px;
	float: right;
	text-align: center;
	display: table;
	background-color: lightGray;
	padding: 0.5em 0;
	box-shadow: 0px 0px 4px gray;
}

div.msgInfo img {
	box-shadow: 2px 2px 2px black;
}

div.msgForum {
	color: DarkRed;
	font-weight: bold;
}

div.msgDetails {
	padding: 0.2em;
	font-size: 90%;
}

div.msgDate {
	font-size: 70%;
}

#ordinamento {
	margin: 0.2em 0;
	font-weight: bold;
}

#preview {
	position: absolute;
	border: 1px solid #ccc;
	background: #333;
	padding: 5px;
	display: none;
	color: #fff;
}

.fakeButton {
	border:1px outset;
	padding:1px 5px;
	background-color: Gainsboro;
	cursor: pointer;
}

label {
	text-align: right;
	width: 150px;
	display: block;
	float: left;
	clear: left;
	margin-right: 3px;
	cursor: pointer
}

div.message {
	font-family: Arial,Helvetica,Sans,"Nimbus Sans",sans-serif;
	font-size: 16px;
	line-height: 20px;
}

#quoteForum {
	font-style: italic;
	color: white;
	margin: 0 3em;
	background-image: url('../images/pB40.png');
	display: inline;
	padding: 0 0.5em;
	box-shadow: 0px 0px 5px black;
	text-shadow: 1px 1px 2px black;
	font-size: 85%;
	font-weight: bold;
}

.messagesButtonBar {
	background: #D6D6D6;
	height: 21px;
	display: box;
	vertical-align: middle; 
	width: 100%;
	padding: 0px 0px 2px 2px;
	text-align: right;
	clear: both;
}

#sidebarSearchForm {
	display: block;
	width: 100%;
	margin-bottom: 1em;
}

#sidebarSearchForm input {
	width: 55%;
	border: 1px solid gray;
	margin-right: 3px;
	box-shadow: 0px 0px 2px black;
}

#sidebarSearchForm input:hover, #sidebarSearchForm input:focus {
	box-shadow: 0px 0px 4px darkRed;
}

#sidebarSearchForm input[type="submit"] {
	width: 30%;
	background-color: transparent;
	font-variant: small-caps;
	border: none;
	cursor: pointer;
	text-shadow: 1px 1px 2px black;
	color: black;
	font-size: 95%;
}

#sidebarSearchForm input[type="submit"]:hover {
	box-shadow: 0px 0px 4px darkRed;
}

#bottomLine {
	text-align: center;
	font-size: 80%;
	color: lightGray;
	margin: 1em;
	font-style: italic;
}

#genTime {
	font-size: 90%;
}

div.threadDetail {
	font-size: 90%;
}

span.msgAuthor, div.msgAuthor {
	font-style: italic;
	font-weight: bold;
	font-variant: small-caps;
}

span.msgAuthor a, div.msgAuthor a {
	text-decoration: none;
}

div.msgReply {
	clear: both;
}
	
textarea.msgReplyTxt {
	width: 99%;
	font-size: 16px;
}

div.messagesBox {
	border: 1px solid black; 
	margin: 5px 5px;
	width: 500px;
	box-shadow: 2px 2px 3px gray;	 
}