input#content {
	width: 85%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: white;
	border: 1px solid gray;
	border-radius: 3px;
}
input#btnInvia {
	width: 10%;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: white;
	border: 1px solid gray;
	border-radius: 3px;
}
table#scrollback {
	width: 100%;
	overflow: auto;
}
table#scrollback td {
	font-family: Arial, Helvetica;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 3px;
}
table#scrollback td.when {
	width: 1%;
}
table#scrollback td.who {
	width: 5%;
}
table#scrollback tr:nth-child(odd) {
	background-color: #efe;
}
table#scrollback tr:nth-child(even) {
	background-color: #eef;
}